.antProgressTextCustom {
  padding: 10px !important;

  &__label {
    color: black !important;
    line-height: 0;

    &-withNumber {
      font-weight: bold;
      font-size: 40px;
    }

    &-withText {
      font-size: 20px;
    }
  }
}
